%ul
  = form_for @video do |form|
    %li= form.label :title
    = form.text_field :title
    %li= form.label :description
    = form.text_area :description
    %hr/
    %h4= form.label "Categories"
    = form.collection_check_boxes :category_ids, Category.all, :id, :title do |cb|
      - cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text}
    = form.submit "Submit", class: "btn btn-success"
